.apiURL{
    margin-left: 10px!important;
}

.apiInformation{
    color: #41414B!important;
}


.modalTitle{
    color: #00297A!important;

}


/* .apiInformation:focus{
    border-color: transparent;
} */