<!-- <h2>Downloading Data Please Wait...</h2> -->
<h2>{{strHeading}}</h2>
<br>
<mat-progress-bar id="progress" mode="query"></mat-progress-bar>
<br>
{{strDownloadeditem}}
<br>
<br>
<h3><a class="downloadStatus">{{strDownloadStatus}}</a></h3>
<!-- <button routerLink="/dashboard" class="btn-danger" id="btn-close" mat-button mat-dialog-close>Close</button> -->
<button class="btn-danger" id="btn-close" mat-button mat-dialog-close (click)="GotoDash()">Close</button> 
<!-- <button href="/dashboard" class="btn-danger" id="btn-close" mat-button mat-dialog-close>Close</button> -->

